---
permalink: /404
layout: default
---

<style type="text/css" media="screen">
  html, body, main {
    height: 100%;
  }
  .page-content {
    padding: 30px 0;
  }
  h1 {
    margin: 30px 0;
    font-size: 4em;
    line-height: 1;
    letter-spacing: -1px;
  }
  footer {
    bottom: 0;
    position: absolute;
    width: 100%;
  }
</style>

<div class="container">
  <div class="page-content text-center">
    <img src="{{site.baseurl}}/assets/images/butter-logo-feature-large.svg" alt="Butter App Feature Logo" />
    <h1>404</h1>
    <p><strong>Page not found :(</strong></p>
    <p>The requested page could not be found.</p>
  </div>
</div>
