---
layout: default

namespace: box
permalink: /
---

{% assign page_data = site.data.home %}

<section class="content-area">
  <div class="container">
    <div class="content-area-wrapper text-center">
      <img src="{{ page_data.page_logo }}" alt="{% t page_logo_alt %}" />
      <h1 class="content-title mb-2 mt-2">{% t butter_box.title %}</h1>
      <p class="content-text text-black ls-40 mb-2">
        {% t butter_box.subtitle %}
      </p>
      <div class="content-img">
        <img src="{{ page_data.device_image }}" alt="{% t butter_box.device_image_alt %}" />
        <p class="caption ls-40 mb-2">{% t butter_box.device_image_caption %}</p>
      </div>
      <h2 class="mb-2 mt-2">{% t butter_box.explanation_header %}</h2>
      <p class="content-text text-black ls-40 mb-2">
        {% t butter_box.explanation %}
      </p>
      <h2 class="mb-2 mt-2">{% t butter_box.get_your_own_header %}</h2>
      <p class="content-text text-black ls-40 mb-2">
        {% t butter_box.get_your_own %}
      </p>
      <a class="btn-main" target="_blank" href="mailto:{{ page_data.butter_box_contact_email }}">{% t butter_box.contact_cta %}</a>
      <h2 class="mb-2 mt-2">{% t butter_box.join_the_mailing_list_header %}</h2>
      <p class="content-text text-black ls-40 mb-2">
        {% t butter_box.join_the_mailing_list %}
      </p>
      <a class="btn-main" target="_blank" href="{{ page_data.butter_box_mailing_list_link }}">{% t butter_box.mailing_list_cta %}</a>
      <h2 class="mb-2 mt-2">{% t butter_box.make_your_own_header %}</h2>
      <p class="content-text text-black ls-40 mb-2">
        {% t butter_box.make_your_own %}
      </p>
      <a class="btn-main" target="_blank" href="{{ page_data.butter_box_img_dropbox }}">{% t butter_box.dropbox_cta %}</a><br/>
      <p class="content-text text-black ls-40 mb-2 mt-2">
        {% t butter_box.make_your_own_from_scratch %}
      </p>
      <a class="btn-main" target="_blank" href="{{ page_data.butter_box_repo }}/-/blob/main/docs/{{site.lang}}/README.md">{% t butter_box.repo_cta %}</a>
    </div>
  </div>
</section>
