---
layout: default

namespace: unbox
permalink: /unbox/
---


<section class="content-area unbox-container">
  <div class="container">
    <div class="content-area-wrapper text-center">
      <h1 class="content-title mb-2 mt-2">{% t unbox.title %}</h1>
      <a class="btn-main btn-modal" href="/assets/download/{% t unbox.pdf_filename %}">
        <span style="text-transform: uppercase;">{% t unbox.call_to_action %}</span>
        <br/>
        <span style="font-weight: 300;">{% t unbox.call_to_action_sub %}</span>
      </a>
      <p>
        <img class="unbox-step" src="/assets/images/{% t unbox.image_prefix %}_butter-box-instructions01.png" alt="" />
        <img class="unbox-step" src="/assets/images/{% t unbox.image_prefix %}_butter-box-instructions02.png" alt="" />
        <img class="unbox-step" src="/assets/images/{% t unbox.image_prefix %}_butter-box-instructions03.png" alt="" />
        <img class="unbox-step" src="/assets/images/{% t unbox.image_prefix %}_butter-box-instructions04.png" alt="" />
        <img class="unbox-step" src="/assets/images/{% t unbox.image_prefix %}_butter-box-instructions05.png" alt="" />
        <img class="unbox-step" src="/assets/images/{% t unbox.image_prefix %}_butter-box-instructions06.png" alt="" />
      </p>
      <p></p>
    </div>
  </div>
</section>
