---
layout: default

namespace: apps
permalink: /apps/
---

{% assign page_data = site.data.home %}

<section class="content-area">
  <div class="container">
    <div class="content-area-wrapper text-center">
      <img src="{{ page_data.page_logo }}" alt="{% t page_logo_alt %}" />
      <h1 class="content-title mb-2 mt-2">{% t title %}</h1>
      <p class="content-text text-black ls-40 mb-2">
        {% t main_text %}
      </p>
      <div class="content-img">
        <img src="{{ page_data.app_tiles_image }}" alt="{% t app_tiles_image_alt %}" />
        <p class="caption ls-40 mb-2">{% t fdroid_apps_caption %}</p>
      </div>
      <a class="btn-main btn-modal" href="#" data-micromodal-trigger="product-modal">{% t fdroid_button_text %}</a>
      {% if site.data.deployment.show_chat %}
      <a class="btn-main btn-modal" href="/chat">{% t chat_button_text %}</a>
      {% endif %}
    </div>
  </div>
</section>

{% include modal.html %}
